body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: radial-gradient(circle, rgba(238, 174, 202, 0.74) 19%, rgba(148, 188, 233, 0.74) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
  list-style: none;
}

#root {
  width: 400px;
  border-color: black;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
  margin-right: 10px;
}
button:hover {
  background-color: rgba(238, 174, 202, 0.74);
}
